{% extends 'base_nav.html' %}
{% block content %}

<div id="tags">
    <header class="tags-header">
        <h2>#{{ tag_name }}</h2>
        <div>게시물 {{ posts.count }}</div>
    </header>
    <div class="post-grid-container">
        {% for post in posts %}
            <div class="post-grid">
                <!--1. post에 연결된 postimage가 있는지 확인-->
                <!--2. 해당 postimage가 photo 필드에 사진이 있는지-->
                {% if post.postimage_set.first and post.postimage_set.first.photo %}
                <a href="{% url 'posts:post_detail' post_id=post.id %}"><img src="{{ post.postimage_set.first.photo.url }}" alt=""></a>
                {% endif %}
            </div>
        {% empty %}
            <p>검색된 게시물이 없습니다.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}