{% extends 'base_nav.html' %}
{% block content %}

<div id="profile">
    <div class="info">
        <!-- 프로필 이미지 영역  -->
        {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}">
        {% endif %}

        <!-- 사용자 정보 영역  -->
        <div class="info-texts">
            <form action="{% url 'users:follow' user_id=user.id %}" method="POST">
                {% csrf_token %}
                <h1>{{ user.username }}
                {% if user != request.user %}

                    {% if user in request.user.following.all %}
                        <button type="submit" id="unfollow">Unfollow</button>
                    {% else %}
                        <button type="submit" id="follow">Follow</button>
                    {% endif %}
                {% endif %}
            </h1>
            </form>

            <div class="counts">
                <dl>
                    <dt>Posts</dt>
                    <dd><a href="{% url 'users:profile' user_id=user.id %}">{{ user.post_set.count }}</a></dd>
                    <dt>Followers</dt>
                    <dd><a href="{% url 'users:followers' user_id=user.id %}">{{ user.followers.count }}</a></dd>
                    <dt>Following</dt>
                    <dd><a href="{% url 'users:following' user_id=user.id %}">{{ user.following.count }}</a></dd>
                </dl>
                <div>
                    <p>{{ user.short_description }}</p>
                </div>
            </div>

        </div>
    </div>

    {% block bottom_data %} {% endblock %}

</div>

{% endblock %}

<!-- 프로필 부분에서 post, following 목록, follower 목록을 선택해서 보여주기  -->