{% extends 'base_profile.html' %}
{% block bottom_data %}

<div class="relationships">
    {% for rel in relationships %}
    <div class="relationship">
        <a href="{% url 'users:profile' user_id=rel.from_user.id %}">
            {% if rel.from_user.profile_image %}
            <img src="{{ rel.from_user.profile_image.url }}">
        {% endif %}
        <div class="relationship-info">
            <span>{{ rel.from_user.username }}</span>
            <span>{{ rel.created|date:'y.m.d' }}</span>
        </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}