{% extends 'base_profile.html' %}
{% block bottom_data %}

    <!-- 작성한 post 목록 -->
     <div class="post-grid-container">
        {% for post in user.post_set.all %}
            <div class="post-grid">
                {% if post.postimage_set.first and post.postimage_set.first.photo %}
                    <a href="{% url 'posts:post_detail' post_id=post.id %}"><img src="{{ post.postimage_set.first.photo.url }}" alt=""></a>
                {% endif %}
            </div>
        {% empty %}
            <p>작성한 게시물이 없습니다.</p>
        {% endfor %}
    </div>

{% endblock %}